.Header{
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
  justify-content: center;
}
.link-ico{
  width: 32px;
  height: 32px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.link-ico.selected{
  border: 2px solid white;
}
