.Header{
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
  justify-content: center;
  position: relative;
}
.link-ico{
  width: 32px;
  height: 32px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.link-ico.selected{
  border: 2px solid white;
}
.back_arrow{
  position: absolute;
  display: flex;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
