.content {

}

.cards {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    @media(max-width: 1080px) {
        grid-template-columns: 1fr;
    }
}