header{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.lines{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.lines>:first-child,.lines>:nth-child(4){
  justify-self: start;
}
.lines>:nth-child(2),.lines>:nth-child(5){
  justify-self: center;
}
.lines>:nth-child(3),.lines>:nth-child(6){
  justify-self: end;
}
.progress{
  width: 100%;
}
.chapters{
  display: flex;
  flex-direction: column;
}
